@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --dark-blue-background: hsl(207, 26%, 17%);
  --dark-blue-text: hsl(200, 15%, 8%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
}
